.circle-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 24em;
	height: 24em;
	padding: 2em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border: solid 1px;
	border-radius: 50%;
	margin: 1.75em auto 0;
}
.circle-container a {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -2em; /* 2em = 4em/2 */ /* half the width */
}
.circle-container img { display: block; width: 100%; }
.circle-container a:not(.center) {
	animation: 10s linear 0s infinite running spin;
	z-index: 1;
} 

.circle-container a:not(.center):hover {
	opacity: 0;
}

#deg60 {
	animation-delay: calc(-10s / 360 * 60);
}

#deg120 {
	animation-delay: calc(-10s / 360 * 120);
}

#deg180 {
	animation-delay: calc(-10s / 360 * 180);
}

#deg240 {
	animation-delay: calc(-10s / 360 * 240);
}

#deg300 {
	animation-delay: calc(-10s / 360 * 300);
}

.center * {
	padding: 0 2em;
}

@keyframes spin {
	from {
		transform: rotate(0deg) translate(12em) rotate(0deg);
	}
	to {
		transform: rotate(360deg) translate(12em) rotate(-360deg);
	}
}
