.circle body{
 text-align: left;  
}
.circle {
	position: relative;
	width: 24em;
	height: 24em;
	padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border: solid 1px;
	border-radius: 50%;
	margin: 1.75em auto 0;
}
.circle img {
	display: block;
	/*overflow: hidden;*/
	position: absolute;
	top: 50%; left: 50%;
	width: 5em; height: 5em;
	margin: -2em;
}
.example {
  display: block;
  cursor: pointer;
 }

.content {
  opacity: 0;
  transition: all 400ms ease-out;
  text-align: center;	
}
.example .content:hover{
	opacity:1;
}
.example .content .description{
	height: 0;
	opacity: 1;
	transition-delay: 1s;
	transition-duration: 0.4s;
}
.example .content:hover .description {
  opacity: 1;
  transform: translateY(250px);
}
/*.circle img { display: block; width: 100%; }*/
/*.logo {
	transform: translate(12em);
} *//* 12em = half the width of the wrapper */
/*gives background and puts it in the middle*/
.description {
	transform: rotate(90deg) translate(9em) rotate(-90deg) translate(6em);
	width: 50%;
	background:rgba(186, 186, 189, 0.5);
}
.feliciasu {
	transform: rotate(20deg) translate(12em) rotate(-20deg);
}

.ayakachou {
	transform: rotate(160deg) translate(12em) rotate(-160deg);
}

.benjaminnhan {
	transform: rotate(90deg) translate(12em) rotate(-90deg);
}

.victoriang {
	transform: rotate(225deg) translate(12em) rotate(-225deg);
}

.hanensu {
	transform: rotate(315deg) translate(12em) rotate(-315deg);
}
/*Hovers name over icon*/
/*.circle-container a:not(.center):before {
    position: absolute;
    width: 1em;
    color: black;
    opacity: 0;
    font: 1em/3.45;
    letter-spacing: 2px;
    text-decoration: none;
    text-shadow: 0 0 .1em purple;
    transition: .7s; 
    content: attr(data-name);
}
.circle-container a:hover:before { opacity: 1; }
*/

/*RANDOMLY CHOSEN BY GOOGLE SPINNER 1-5(clockwise)
Hanen top right
Felicia bottom right
Ben bottom
ayaka bottom left
victoria top left*/