.circle body{
	text-align: left;
}
.circle {
	position: relative;
	width: 24em;
	height: 24em;
	padding: 2em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
	border-radius: 50%;
	margin: 1.75em auto 0;
}
.circle img {
	display: block;
	/*overflow: hidden;*/
	position: absolute;
	top: 50%; left: 50%;
	width: 7em; height: 7em;
	margin: -2em;
}

/*.circle img { display: block; width: 100%; }*/
/*.logo {
	transform: translate(12em);
} *//* 12em = half the width of the wrapper */
/*gives background and puts it in the middle*/

.circle img:not(.center) {
	animation: 10s linear 0s infinite running spin;
	z-index: 1;
}

.center * {
	padding: 0 2em;
}

@keyframes spin {
	from {
		transform: rotate(0deg) translate(12em) rotate(0deg);
	}
	to {
		transform: rotate(360deg) translate(12em) rotate(-360deg);
	}
}

.description {
	transform: rotate(90deg) translate(11.2em) rotate(-90deg) translate(7.5em);
	width: 50%;
	background:rgba(186, 186, 189, 0.5);
}
.feliciasu {
	animation-delay: calc(-10s / 360 * 72) !important;
}

.ayakachou {
	animation-delay: calc(-10s / 360 * 216) !important;
}

.benjaminnhan {
	animation-delay: calc(-10s / 360 * 144) !important;
}

.victoriang {
	animation-delay: calc(-10s / 360 * 288) !important;
}

.hanensu {
	animation-delay: calc(-10s / 360 * 360) !important;
}

/*Hovers name over icon*/
/*.circle-container a:not(.center):before {
    position: absolute;
    width: 1em;
    color: black;
    opacity: 0;
    font: 1em/3.45;
    letter-spacing: 2px;
    text-decoration: none;
    text-shadow: 0 0 .1em purple;
    transition: .7s;
    content: attr(data-name);
}
.circle-container a:hover:before { opacity: 1; }
*/

/*RANDOMLY CHOSEN BY GOOGLE SPINNER 1-5(clockwise)
Hanen top right
Felicia bottom right
Ben bottom
ayaka bottom left
victoria top left*/
.normal {
    display:none;
}
@media all and (max-width:1300px){
    .circle {
        display:none;
    }
    .normal {
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
    }
    .us {
        max-width:10rem;
        max-height:10rem;
        opacity:1;
        margin:5rem;
    }
}


