.border span {
	border:2px dashed #084251;
}

/*Mission Statement*/
.missionstate {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	margin: 0 2rem;
}
@media all and (max-width: 800px) {
	.missionstate {
		font-size: 1.6rem;
	}
}
/*THE WINNING SUBMISSION*/
/*The RULES*/
/*Judging Criteria*/
/*for rowing judging criteria & winning submission*/
#podium {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
	padding:3rem;
}
#podium * {
    margin: 0;
}
.prize {
	display:flex;
	flex-direction:column;
	justify-content: center;
	font-size: 3rem;
}
@media all and (max-width: 1200px){
	.prize {
		font-size: 1.7rem;
	}
}
@media all and (max-width: 720px){
	#podium {
		flex-direction:column;
		justify-content: center;
	}
	.prize{
		font-size: 3rem;
		font-size: 1.4rem;
		padding:1rem;
	}
}
.prize h2 {
	margin:0;
}


/*Dropbox*/
#maillink {
	text-decoration: none;
	color:#c6fbff;
}
details {
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: 1rem 1rem;
    padding: .5em;
    outline:none;
    border:2px dashed #c6fbff;
   	align-items:center;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    margin-bottom: .5em;
}
ol  {
	font-size: 1.5rem; 
	text-align:left;
}
ol li{
	margin-bottom:1.4rem; 
}
ul{
	font-size: 1.2rem;
}
.iconflex {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.icons {
	width:30rem;
}
@media all and (max-width: 1400px){
	.icons{
		width:25rem;
	}
}
@media all and (max-width: 780px){
	.iconflex {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.icons {
		width:60%;
	}
}
/*Having the list and video on the same line*/
/*EXAMPLE VIDEO*/
/*Affects Design Criteria and Submission Guidelines*/
.spaceonsameline {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	text-align:center;
}
iframe, #examplevid {
	margin-right: 3rem;
	min-width:37rem;
}
figcaption {
  margin-left: -3.2rem;
  padding: 2px;
  text-align: center;
}
@media all and (max-width: 1150px){
	.spaceonsameline {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		margin-left:1.4rem;
		margin-right: 1.2rem;
	}
	iframe, #examplevid{
		min-width: 23rem !important;
		width: 100% !important;
		margin:0;
	}
}


/*DONATE AND APPLY HERE ICON*/
#donate {
	text-align: center;
	font-size:18px;
}
.imagelink {
	 transition: transform .2s; /* Animation */
	 margin: 0 auto;
}
.imagelink:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/*when shrinking and making image that holds link*/
@media all and (max-width: 650px){
	.imagelink {
		width:80%;
		height: 90%;
	}
}
/*text under donate*/
#afterdonate{
	text-align: center;
	font-size: 1.6rem;
}


/*RENAME APPLICATION METHODS AS COMPETITION BRACKETS*/
