/*Nav bar*/
nav a{
	width:100%;
	text-align: center;
	text-decoration: none;
	height:3.7rem;
	display:flex;
	flex-direction: column;
	justify-content:center;
}
nav {
	background-color:skyblue;
	margin: 0px;
	display:flex;
	font-size: 1.5rem;
	flex-direction: row-reverse;
	/*justify-content: space-around;*/
	align-content: center;
	height:3.7rem;
	padding: 20px;
}
nav a:hover {
	background-color: #ddd;
	color: black;
}
nav h3 {
	margin:0px;
}
#simple ,#switch{
	display: none;
}

@media all and (max-width: 1148px) {
	nav {
		font-size: 1.4rem;
	}

}
@media all and (max-width: 1015px) {
	nav {
		font-size: 1.3rem;
	}
}
@media all and (max-width: 556px) {
	nav {
		font-size: 1.1rem;
		flex-direction: column-reverse;
		height: auto !important;
		padding: 0;
	}
	#switch{
		display: flex;
	}
	#simple ~ a{
		display: flex;
	}
	#simple:checked ~ a{
		display: none;
	}
}
/*The main title*/
#title {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 1000px;
	text-shadow: 2px 2px blue;
}
@media all and (max-width: 980px) {
	#title {
		width:90%;
	}
}
/*Most content*/
body {
	background-image: url("donedone.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	font-weight: 30em;
	margin: 0px;
	padding: 0px;
	font-family: arial;
}
/*Mission Statement*/
main {
	text-align: center;
}
.missionstate {
	text-align: center;
	font-size: 25px;
	margin: 0 2rem;
}
@media all and (max-width: 800px) {
	.missionstate {
		font-size: 1.2rem;
	}
}
/*Centering each subtitle and img*/
.centertitleimg {
	text-align: center;
	font-size:20px;
}
.subtitles {
	font-size:2.5rem;
	color: #00fffc;
	text-shadow: 2px 2px blue;
}
/*Having the list and video on the same line*/
/*Affects Design Criteria and Submission Guidelines*/
.spaceonsameline {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	text-align:center;
}
#donate {
	text-align: center;
	font-size:18px;
}
.imagelink {
	margin-top: -8rem;
}
@media all and (max-width: 650px){
	.imagelink {
		width:80%;
		height: 90%;
	}
}
#winning {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
}
.prize {
	display:flex;
	flex-direction:column;
	justify-content: center;
	text-shadow: 2px 2px #3154ff;
}
@media all and (max-width: 953px){
	.prize {
		font-size: .9rem;
	}
}
@media all and (max-width: 666px){
	#winning {
		display:flex;
		flex-direction:column;
		justify-content: center;
	}
	.prize{
		font-size: 1.2rem;
	}
}
.prize h2 {
	margin:0;
}
ol  {
	font-size: 1.5rem; 
	margin-bottom:7rem; 
	text-align:left;
}
ol li{
	margin-bottom:1.4rem; 
}
ul{
	font-size: 1.2rem;
}
#contactus {
	background-color:#b2c0ef;
	height:4rem;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#instagram {
	padding-bottom: 0rem;
	margin: 0 2rem;
}
