.border span {
	border:4px solid #185b6d;
	padding:1rem;
	display:inline-block;
}

/*Mission Statement*/
.missionstate {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	margin: 0 2rem;
}
@media all and (max-width: 800px) {
	.missionstate {
		font-size: 1.6rem;
	}
}
/*THE WINNING SUBMISSION*/
/*The RULES*/
/*Judging Criteria*/
/*for rowing judging criteria & winning submission*/
#podium {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	align-items: center;
	padding:3rem;
}
#podium * {
    margin: 0;
}
.prize {
	display:flex;
	flex-direction:column;
	justify-content: center;
	font-size: 2.1rem;
}
@media all and (max-width: 1200px){
	.prize {
		font-size: 1.7rem;
	}
}
@media all and (max-width: 720px){
	#podium {
		flex-direction:column;
		justify-content: center;
	}
	.prize{
		font-size: 3rem;
		font-size: 1.4rem;
		padding:1rem;
	}
}
.prize h2 {
	margin:0;
}

/*Dropbox*/
#maillink {
	text-decoration: none;
	color:#0082de;
}
details {
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: 1rem 1rem;
    padding: .5em;
    outline:none;
    border:2px dashed #c6fbff;
   	align-items:center;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    margin-bottom: .5em;
}
ol  {
	font-size: 1.5rem; 
	text-align:left;
}
ol li{
	margin-bottom:1.4rem; 
}
ul{
	font-size: 1.2rem;
	text-align: center;
}
li{
	display: inline-block;
	width: 100%
}

.iconflex {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.icons {
	width:25rem;
}
@media all and (max-width: 1340px){
	.icons{
		width:17rem;
	}
}
@media all and (max-width: 940px){
	.iconflex {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding:1rem;
	}
	.icons {
		width:55%;
	}
}
.icondiv {
	padding:1rem;
}
/*Having the list and video on the same line*/
/*EXAMPLE VIDEO*/
/*Affects Design Criteria and Submission Guidelines*/
.spaceonsameline {
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	text-align:center;
}
iframe, #examplevid {
	margin-right: 3rem;
	min-width:37rem;
}
figcaption {
  text-align: center;
}
figcaption span {
	padding:.5rem;
	display:inline-block;
}

@media all and (max-width: 1150px){
	.spaceonsameline {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left:1.4rem;
		margin-right: 1.2rem;
	}
	iframe, #examplevid{
		min-width: 23rem !important;
		width: 100% !important;
		margin:0;
	}
}


/*DONATE AND APPLY HERE ICON*/
#donate {
	text-align: center;
	font-size:18px;
}
#apply {
	/*margin-top: -60px;*/
	max-width: 700px;
}
.gitbigger {
	transition: transform .2s; /* Animation */
	margin: 10rem;
/*	overflow-x: hidden;*/
}
.getbigger:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/*when shrinking and making image that holds link*/
.imagelink {
	 width:40rem;
}
@media all and (max-width: 850px){
	.imagelink {
		width:80%;
		height:90%;
	}
}
@media all and (max-width: 650px){
	.imagelink {
		width: 80%;
	}
}
/*text under donate*/
#afterdonate{
	text-align: center;
	font-size: 1.6rem;
}
#smallicon {
	width:10px;
}
/*RENAME APPLICATION METHODS AS COMPETITION BRACKETS*/
.evalicon {
	width:20rem;
}
#criteria {
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items: flex-start;
	width:100%;
	margin:0;
	padding:0;
}
@media all and (max-width: 1164px){
	#criteria {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin:0;
	}
	.evalicon {
		width:13rem;
	}
}
