body {
	background-image: url("/static/images/isthisitchief.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	margin: 0px;
	padding: 0px;
	font-family: "Josefin Sans", sans-serif;
	text-align: center;
	font-size: 21px;
}

/*Nav bar*/
nav {
	margin: 0px;
	display: flex;
	font-size: 1.5rem;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-content: center;
	height: 5rem;
	padding: 0;
	list-style: none;
}
nav div {
	/*background-color: #C6FBFF;*/
	background-color: transparent;
	width: 100%;
	height: 5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
nav div::before, nav div::after{
	content: "";
	display: block;
	height: 5px;
	background-color: #444;
	width: 0%;
	transition: all ease-in-out 300ms;;
	position: relative;
	top: 0;
}
nav div:hover::before, nav div:hover::after{
	width: 100%;
}
nav a{
	width: 100%;
	text-align: center;
	text-decoration: none;
	height: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #084251;
	padding: 0;
}
nav a:hover {
	color: black;
}
nav h3 {
	margin: 0px;
	padding: 0;
}
nav div:last-child {
	max-width: 80px;
	padding: 0 10px;
}
nav div:last-child:hover::before, nav div:last-child:hover::after {
	width: 0%;
}
#home {
	max-width: 80px;
	max-height: 75px;
}
#simple ,#switch{
	display: none;
}
@media all and (max-width: 650px) {
	nav {
		font-size: 1.1rem;
		flex-direction: column-reverse;
		align-items: center;
		height: auto !important;
		padding: 0;
	}
	nav div, nav div a {
		width: 100%;
		max-width: 100% !important;
		padding: 0 !important;
	}
	#switch{
		display: flex;
	}
	#simple ~ div {
		display: flex;
		transition: transform .5s, height .5s; /* Animation */
	}
	#simple:checked ~ div {
		transform: scale(0);
		height: 0;
	}
	#simple + label span{
		background-color: #C6FBFF;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 0.3rem;
		width: 5rem;
		height: 2rem;
		border-radius: 0 0 1rem 1rem;
	}
	#simple + label span::after{
		content: "V";
		font-family: Arial;
		font-weight: bold;
		transform: rotate(180deg) scaleX(-1);
	}
	#simple:checked + label span::after{
		transform: rotate(0deg) scaleX(-1);
	}
}
@media all and (max-width: 1015px) {
	nav {
		font-size: 1.3rem;
	}
}
@media all and (max-width: 1148px) {
	nav {
		font-size: 1.4rem;
	}
}

/*Header Title + Logo*/
header {
	display: flex;
	height: calc(100vh - 5rem);
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-size: 5.5rem;
	margin: 0;
	font-family: "Paytone One", sans-serif;
	text-align: center;
}

header img {
	display: block;
	width: 16rem;
	margin: 1rem 0rem;
}

@media all and (max-width: 962px) {
	header {
		flex-direction: column;
	}
	header img {
		width: 14rem;
		margin-bottom: 0;
	}
	header h1 {
		font-size: 4.5rem;
		text-align: center;
		line-height: 5rem;
	}
}

main {
	padding-top: 5rem;
	background-image: url("/static/images/mountain.png");
	background-repeat: no-repeat;
	background-size: cover;
}

/*Subtitles*/
.subtitles {
	font-size: 3.4rem;
	font-family: "Paytone One", sans-serif;
	color: black;
}

/*Footer*/
footer {
	background-color: #137d97;
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
footer h2{
	margin:0rem 2rem 0 .5rem;
}
.instagram {
	padding-bottom: 0rem;
	margin-right:2rem;
	width:4rem;
	height: 60px;
}

@media all and (max-width: 948px) {
	.instagram {
		margin-right: .5rem;
	}

	footer h2 {
		margin-left: .15rem;
		margin-right: .5rem;
	}

	@media all and (max-width: 705px) {
		.instagram {
			width: 2.6rem;
			height:45px;
		}

		footer h2 {
			font-size: 1.6rem;
		}
	}
	/*Animation via JS*/
	.fadein {
		opacity: 0;
	}
}
