body {
	background-image: url("./static/images/physicalmask.jpg");
	background-position: center top;
}

header h1 {
	text-shadow: 2px 2px #FFF;
}

@media all and (max-width: 500px) {
	body {
		background-position: left top;
	}
}
