body {
	background-image: url("/static/images/masks.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

nav div {
	background-color: transparent;
}

header {
	height: calc(100vh - 5rem);
}

main {
	padding-top: 5rem;
	background-image: url("/static/images/mountain.png");
	background-repeat: no-repeat;
	background-size: cover;
}
